/* INDEX - panelIndex.php */

/* --- BANNERS -------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .big-format {
        width: 85% !important;
        margin-top: 20px !important;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .centrar-mini {
        justify-content: center !important;
    }

    .mgtopbottom {
        margin-top: -25px !important;
        margin-bottom: -250px !important;
    }
}

.text-menu-home {
    max-width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #FF2121;
}

.main-banner-b {
    height: 458px;
    background-image: url('../../assets/images/banner2.PNG');
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-b {
    width: 32%;
    height: 404px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
    .banner-b:nth-child(1) {
        background-image: url('../../assets/images/banner2_1.PNG');
    }
        .banner-b:nth-child(2) {
            background-image: url('../../assets/images/banner2_2.PNG');
        }
            .banner-b:nth-child(3) {
                background-image: url('../../assets/images/banner2_3.PNG');
            }

.descubrir {
    padding-bottom: 3px;
    border-bottom: 1.5px solid #FF2121;
    height: 43px;
}



/* --- CONTENEDORES -------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .little-format {
        margin-top: -40px !important
    }
}

.row-menu-home {
    margin-bottom: 34px !important;
    display: flex;
    justify-content: space-between
}

.container-menu-home {
    width: 100%;
    height: 337px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
    .container-menu-home:nth-child(1) {
        background-image: url('../../assets/images/menu_imagen1.PNG');
    }
        .container-menu-home:nth-child(2) {
            background-image: url('../../assets/images/menu_imagen2.PNG');
        }
        .container-menu-home:nth-child(3) {
            background-image: url('../../assets/images/menu_imagen3.PNG');
        }
            .container-menu-home:nth-child(4) {
                background-image: url('../../assets/images/menu_imagen4.PNG');
            }
                .container-menu-home:nth-child(5) {
                    background-image: url('../../assets/images/menu_imagen5.PNG');
                }
                    .container-menu-home:nth-child(6) {
                        background-image: url('../../assets/images/menu_imagen6.PNG');
                    }
                        .container-menu-home:nth-child(7) {
                            background-image: url('../../assets/images/menu_imagen7.PNG');
                        }
                            .container-menu-home:nth-child(8) {
                                background-image: url('../../assets/images/menu_imagen8.PNG');
                            }



/* --- OTROS -------------------------------------------------- */

.text-menu-home {
    max-width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #FF2121;
}

